.Time {
    height: 48%;
    width: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    padding-top: 70px;
    font-family: courier, monospace;
    color: rgb(0, 128, 122);
    font-size: 110px;
}